input.account-auth-form-input {
  width: 400px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  border-color: var(--color-black-40);
  font-weight: 300;
  font-size: var(--font-size-xxl);
}
// Hide the "honey pot" field from the UI to avoid accessibility issues
[id^='verification-check'],
[for^='verification-check'] {
  display: none;
}

button.account-auth-form-submit {
  font-size: var(--font-size-xxl);
}

.account-auth-form-submit {
  margin: 0 auto;
  border-radius: 40px;
}

.account-auth-form-validation-message {
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: var(--color-red);
  font-weight: bold;
  font-size: var(--font-size-xs);
  color: var(--color-white-100);
}

.account-auth-form-alt-link {
  margin-left: 15px;
  font-weight: 400;
  color: var(--current-theme-color);
  text-decoration: none;
}
