$tutorial-step-message-margin: 15px;
$tutorial-step-message-arrow-size: 10px;
$tutorial-step-message-background: $light-100;
$tutorial-step-message-color: $dark-100;

.tutorial-step-message {
  position: absolute;
  z-index: 400;
  max-width: 100vw;
  min-width: 210px;
  padding: 10px 15px;
  text-align: left;
  // The button controls already have bottom margin that creates breathing room
  // at the bottom of the message container
  padding-bottom: 0;
  border-radius: 10px;
  background-color: $tutorial-step-message-background;
  color: $tutorial-step-message-color;
  font-family: $font-family-sans-serif;
  font-size: $font-size-xs;
  box-shadow: 0 1px 10px 1px $dark-50;
  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $tutorial-step-message-arrow-size;
    border-color: transparent;
  }
  &.position-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    &:before {
      display: none;
    }
  }
  &.position-top {
    bottom: 100%;
    margin-bottom: $tutorial-step-message-margin;
    text-align: left;
    &:before {
      top: 100%;
      border-top-color: $tutorial-step-message-background;
    }
  }
  &.position-bottom {
    top: 100%;
    margin-top: $tutorial-step-message-margin;
    text-align: left;
    &:before {
      bottom: 100%;
      border-bottom-color: $tutorial-step-message-background;
    }
  }
  &.position-left {
    right: 100%;
    margin-right: $tutorial-step-message-margin;
    &:before {
      top: $tutorial-step-message-arrow-size * 2;
      left: 100%;
      border-left-color: $tutorial-step-message-background;
    }
  }
  &.position-right {
    left: 100%;
    margin-left: $tutorial-step-message-margin;
    &:before {
      top: $tutorial-step-message-arrow-size * 2;
      right: 100%;
      border-right-color: $tutorial-step-message-background;
    }
  }
  &.position-top.alignment-center,
  &.position-bottom.alignment-center {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    &:before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &.position-top.alignment-left,
  &.position-bottom.alignment-left {
    left: 0;
    text-align: left;
    &:before {
      left: $tutorial-step-message-arrow-size * 2;
    }
  }
  &.position-top.alignment-right,
  &.position-bottom.alignment-right {
    right: 0;
    text-align: right;
    &:before {
      right: $tutorial-step-message-arrow-size * 2;
    }
  }
}
.tutorial-step-message-controls {
  margin-top: 10px;
  white-space: nowrap;
}
.tutorial-step-message-control {
  &:not(:last-child) {
    margin-right: 10px;
  }
  margin-bottom: 10px;
  @each $theme-name, $theme-color in $theme-colors {
    .theme-#{$theme-name} & {
      background-color: darken($theme-color, 0%);
      &:hover:active {
        background-color: darken($theme-color, 9%);
      }
    }
  }
  @each $theme-name, $theme-color in $theme-photos {
    .theme-#{$theme-name} & {
      background-color: darken($theme-color, 0%);
      &:hover:active {
        background-color: darken($theme-color, 9%);
      }
    }
  }
  &.warning {
    background-color: darken(saturate($red, 15%), 5%);
    &:hover:active {
      background-color: darken($red, 10%);
    }
  }
}
