// When highlighting a widget control as part of a Tutorial step, hide the
// other widget controls
[data-tutorial-is-current-step] .widget-control[data-tutorial-step]:not([data-tutorial-is-current-step]) {
  opacity: 0 !important;
}
[data-tutorial-is-current-step] {
  opacity: 1 !important;
  position: relative;
  z-index: 300;
}
