.widget-type-Podcast {
  height: auto !important;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.podcast-settings {
  padding-bottom: 15px;
}

.podcast-podcast-count {
  margin: 10px 0;
}

.podcast-title {
  padding: 0 10px;
  margin-bottom: 5px;
}

.podcast-subtext {
  margin-bottom: 10px;
}

.podcast-now-playing-link {
  border-radius: 20px;
  margin-bottom: 10px;
  font-size: $font-size-xxxs;
}

.podcast-podcast-count,
.podcast-episode-count {
  font-size: $font-size-xxs;
  color: $light-50;
}

.podcast-error {
  margin-bottom: 10px;
}
