.podcast-view-now-playing {
  padding: 0 15px;
  padding-bottom: 5px;
  text-align: left;
}

.podcast-now-playing-return-to-list {
  margin-top: 5px;
  text-align: center;
}

.podcast-now-playing-header {
  display: flex;
  align-items: center;
}

.podcast-now-playing-image {
  flex-shrink: 0;
  $image-size: 50px;
  width: $image-size;
  height: $image-size;
  margin-right: 15px;
  border-radius: 5px;
  background-color: $grey;
}

h2.podcast-now-playing-episode-title {
  font-size: $font-size-m;
  margin-bottom: 0;
}

.podcast-now-playing-audio-player-container {
  padding-top: 10px;
  // Position the Play/Pause button so it appears horizontally centered
  // underneath the fixed-width podcast thumbnail (we're doing it this way to
  // avoid introducing any complicated table or grid layout)
  padding-left: 7px;
}

.podcast-now-playing-footer {
  text-align: center;
}
