.podcast-audio-player-playpause {
  padding: 6px;
  border-width: 0;
  border-radius: 50px;
  font-size: 0;
}

.podcast-audio-player-playpause-icon {
  $icon-size: 24px;
  width: $icon-size;
  height: $icon-size;
}
