.widget-type-Podcast {
  height: auto !important;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.podcast .loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.podcast-title {
  margin-bottom: 5px;
}

.podcast-subtext {
  margin-bottom: 10px;
}

.podcast-now-playing-link {
  border-radius: 20px;
  margin-bottom: 10px;
  font-size: $font-size-xxxs;
}

.podcast-episode-count {
  font-size: $font-size-xxs;
  color: $light-50;
}

.podcast-episode-entries,
.podcast-episode-entry {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.podcast-episode-entries {
  flex-grow: 1;
  max-height: 200px;
  border-radius: 5px;
  font-family: $font-family-sans-serif;
  overflow-y: scroll;
}

.podcast-episode-entry {
  padding: 7px 10px;
  cursor: pointer;
  background-color: $dark-10;
  transition: background-color 150ms ease-in-out;
  &:hover {
    background-color: $dark-30;
  }
}

h3.podcast-episode-entry-title {
  margin: 0;
  font-size: $font-size-xxxs;
  font-weight: 300;
}

.podcast-episode-entry-date {
  font-weight: 300;
  font-size: $font-size-xxxs;
  color: $light-50;
}

.podcast-error {
  margin-bottom: 0;
}
