.widget-type-BibleVerse {
  height: auto !important;
}

.bible-verse-content {
  font-size: $font-size-s;
  * {
    font-size: inherit;
  }
  h2 {
    font-size: $font-size-xl;
  }
  *:last-of-type {
    margin-bottom: 0;
  }
  // ESV Copyright link
  p:not([class]):not([id]) {
    margin-top: 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: $font-size-xxs;
    // If the user fetches multiple verses, then multiple copyright links will
    // be brought in; only show one of them
    &:not(:last-of-type) {
      display: none;
    }
  }
}
.bible-verse-error {
  margin-bottom: 0;
}
