.widget-type-BibleVerse {
  position: relative;
  height: auto !important;
}

.bible-verse-content {
  font-size: var(--font-size-s);
  line-height: var(--line-height-comfortable);
  h2 {
    font-size: var(--font-size-xl);
  }
}
.bible-verse-version {
  font-size: var(--font-size-xxs);
}
.bible-verse-notice {
  opacity: 0.5;
  margin-top: 0;
  margin-bottom: -5px;
  bottom: 10px;
  right: 10px;
  text-align: right;
  font-size: var(--font-size-xxxxs);
  transition: opacity 250ms ease-in-out;
}
.bible-verse-error {
  margin-bottom: 0;
}
