@use 'sass:math';

.audio-player {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.audio-player-playpause {
  padding: 6px;
  margin-right: 10px;
  border-width: 0;
  border-radius: 50px;
  font-size: 0;
  .loading-indicator {
    $icon-size: 24px;
    width: $icon-size;
    height: $icon-size;
  }
  .loading-indicator-icon {
    stroke-width: 6;
  }
}

.audio-player-playpause-icon {
  $icon-size: 24px;
  width: $icon-size;
  height: $icon-size;
}

.audio-player-seeker-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.audio-player-time-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-weight: 300;
  font-size: $font-size-xxxs;
  font-family: $font-family-sans-serif;
}

input[type=range].audio-player-seeker-slider {
  $slider-track-height: 4px;
  $slider-thumb-size: $slider-track-height;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  @include slider-track() {
    opacity: 0;
  }
  @include slider-thumb() {
    opacity: 0;
  }
  // On WebKit, the slider thumb is not vertically centered by default, but on
  // Firefox, it is, so we need to target WebKit specifically to accommodate
  // this
  @include webkit-slider-thumb {
    transform: translateY(-50%) translateY(math.div($slider-track-height, 2));
  }
}
