.add-widget-button {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: var(--font-size-xxs);
  @include layout(tablet) {
    // Because the plus icon SVG contains some intrinsic whitespace around the
    // icon, we can subtract off that spacing to make the button feel more
    // equally padded
    padding-left: 10px;
  }
}
.add-widget-button .icon {
  --icon-size: 18px;
  width: var(--icon-size);
  height: var(--icon-size);
  @include layout(tablet) {
    margin-right: 2px;
  }
}
.add-widget-button-label {
  display: none;
  @include layout(tablet) {
    display: inline;
  }
}
