.add-widget-button {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: var(--font-size-xxxs);
  @include layout(tablet) {
    // Because the plus icon SVG contains some intrinsic whitespace around the
    // icon, we can subtract off that spacing to make the button feel more
    // equally padded
    padding-left: 10px;
  }
}
.add-widget-button-icon,
.add-widget-button-label {
  vertical-align: middle;
}
.add-widget-button img {
  $icon-size: 18px;
  width: $icon-size;
  height: $icon-size;
  @include layout(tablet) {
    margin-right: 2px;
  }
}
.add-widget-button-label {
  display: none;
  @include layout(tablet) {
    display: inline;
  }
}
