@use 'sass:math';

.audio-player-main-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.audio-player-seeker-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.audio-player-control {
  padding: 6px;
  border-width: 0;
  border-radius: 50px;
  font-size: 0;
  .loading-indicator-icon {
    stroke-width: 6;
  }
  img,
  .loading-indicator {
    --icon-size: 30px;
    width: var(--icon-size);
    height: var(--icon-size);
    @include layout(desktop) {
      --icon-size: 24px;
    }
  }
}

.audio-player-playpause {
  margin: 0 15px;
  @include layout(desktop) {
    margin: 0 10px;
  }
}

.audio-player-seeker-slider-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.audio-player-time-info {
  display: flex;
  margin-top: 2px;
  justify-content: space-between;
  font-weight: 300;
  font-size: var(--font-size-xxxs);
  font-family: var(--font-family-sans-serif);
}

input[type='range'].audio-player-seeker-slider {
  --slider-track-height: 4px;
  --slider-thumb-size: 12px;
  width: 100%;
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  @include slider-thumb() {
    position: relative;
    left: 1px;
  }
}
