.inline-error-message {
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: var(--color-red);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xs);
  color: var(--color-white-100);
}
