@keyframes modal-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;;
  }
}

.modal-scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  // This ensures that the modal fits to its contents
  align-items: flex-start;
  padding: 10px;
  z-index: 100;
  overflow-y: scroll;
  animation: modal-fade-in 150ms ease-in-out both;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: var(--color-black-50);
  backdrop-filter: blur(10px);
}

.modal {
  position: relative;
  width: 100%;
  max-width: 640px;
  z-index: 1000;
  border-radius: 10px;
  padding: 30px;
  background-color: var(--color-white-100);
  color: var(--color-black-75);
  box-shadow: 0 5px 10px 1px var(--color-black-25);
  overflow: hidden;
}
