.sheet {
  position: relative;
  width: 100%;
  background-color: var(--color-white-100);
  font-family: var(--font-family-sans-serif);
  overflow: hidden;
  button:not([data-unstyled='true']),
  .button:not([data-unstyled='true']) {
    --button-background-color: var(--current-theme-color);
    --button-background-color-active: var(--current-theme-color-dark);
  }
  .sheet-control {
    --button-background-color: transparent;
    --button-background-color-hover: var(--color-black-10);
    --button-background-color-active: var(--color-black-20);
    position: absolute;
    top: 0;
    border-width: 0;
    border-radius: 0;
    margin: 0;
    padding: 10px;
    box-sizing: content-box;
    // Fixed the vertical centering of the control icon if the control happens
    // to be an <a> tag
    line-height: var(--line-height-tight);
    color: var(--black-100);
  }
  .sheet-control-left {
    left: 0;
    border-bottom-right-radius: 10px;
  }
  .sheet-control-right {
    right: 0;
    border-bottom-left-radius: 10px;
  }
  .sheet-control-icon {
    --control-size: 30px;
    width: var(--control-size);
    height: var(--control-size);
  }
}
