.getting-started-message {
  position: absolute;
  z-index: 400;
  max-width: 100vw;
  padding: 10px 15px;
  // The button controls already have bottom margin that creates breathing room
  // at the bottom of the message container
  padding-bottom: 0;
  border-radius: 10px;
  background-color: $light-100;
  color: $dark-100;
  font-family: $font-family-sans-serif;
  font-size: $font-size-xs;
  $message-margin: 10px;
  &.position-middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.position-top {
    bottom: 100%;
    margin-bottom: $message-margin;
  }
  &.position-bottom {
    top: 100%;
    margin-top: $message-margin;
  }
  &.position-left {
    right: 100%;
    margin-right: $message-margin;
  }
  &.position-right {
    left: 100%;
    margin-left: $message-margin;
  }
  &.alignment-left {
    text-align: left;
  }
  &.alignment-right {
    right: 0;
    text-align: right;
  }
  &.alignment-center {
    text-align: center;
  }
}
.getting-started-message-controls {
  margin-top: 10px;
}
.getting-started-message-control {
  &:not(:last-child) {
    margin-right: 10px;
  }
  margin-bottom: 10px;
  @each $theme-name, $theme-color in $theme-colors {
    .theme-#{$theme-name} & {
      background-color: darken($theme-color, 0%);
      &:hover:active {
        background-color: darken($theme-color, 9%);
      }
    }
  }
  &.warning {
    background-color: $red;
    &:hover:active {
      background-color: darken($red, 10%);
    }
  }
}
