.note {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.note-text-box {
  width: 100%;
  height: 100%;
  border-width: 0;
  background: none;
  padding: 20px;
  font-family: inherit;
  resize: none;
  color: #fff;
}
