.widget-type-Note {
  resize: vertical;
}

.note {
  border-radius: inherit;
}

.note-text-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  border-radius: inherit;
  background: none;
  padding: 20px 30px;
  font-family: inherit;
  color: #fff;
  @include placeholder {
    color: rgba(#fff, 0.5);
  }
  &:focus {
    outline-width: 0;
    box-shadow: inset 0 0 0 1px #fff;
  }
}

.note-formatting-preview {
  margin-top: 10px;
  color: rgba(#fff, 0.5);
}
