.widget-type-Podcast {
  resize: vertical;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0;
}

.podcast,
.podcast-view,
.podcast-episodes {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  // This prevents the flex children from overflowing their container; see
  // <https://stackoverflow.com/a/66689926/560642>
  min-height: 0;
}

.podcast .loading-indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.podcast-episode-entries,
.podcast-episode-entry {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.podcast-episode-entries {
  flex-grow: 1;
  font-family: $font-family-sans-serif;
  overflow-y: scroll;
}

.podcast-episode-entry {
  padding: 7px 10px;
  cursor: pointer;
  background-color: $dark-10;
  transition: background-color 150ms ease-in-out;
  $entry-border-radius: 5px;
  &:first-child {
    border-top-left-radius: $entry-border-radius;
    border-top-right-radius: $entry-border-radius;
  }
  &:last-child {
    border-bottom-left-radius: $entry-border-radius;
    border-bottom-right-radius: $entry-border-radius;
    margin-bottom: 5px;
  }
  &:hover {
    background-color: $dark-30;
  }
}

h3.podcast-episode-entry-title {
  margin: 0;
  font-size: $font-size-xxxs;
  font-weight: 300;
}

.podcast-episode-entry-date {
  font-weight: 300;
  font-size: $font-size-xxxs;
  color: $light-50;
}
