.widget-type-BibleVerse {
  height: auto !important;
}

.bible-verse-content {
  font-size: $font-size-s;
  * {
    font-size: inherit;
  }
  *:last-of-type {
    margin-bottom: 0;
  }
  // ESV Copyright link
  p:last-of-type {
    margin-top: 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: $font-size-xxs;
  }
}
.bible-verse-error {
  margin-bottom: 0;
}
