.add-widget-header {
  margin: 0 15px;
}
.add-widget-button {
  padding: 3px 12px;
  border-radius: 20px;
  font-size: $font-size-xxxs;
}
.add-widget-button-icon,
.add-widget-button-label {
  vertical-align: middle;
}
.add-widget-button-icon {
  width: 20px;
  @media (min-width: $min-width-tablet) {
    margin-right: 2px;
  }
}
.add-widget-button-label {
  display: none;
  @media (min-width: $min-width-tablet) {
    display: inline;
  }
}

.add-widget-type-list,
.add-widget-type-list-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}
