.add-widget-button {
  padding: 3px 12px;
  border-radius: 20px;
  font-size: $font-size-xxxs;
}
.add-widget-button-icon,
.add-widget-button-label {
  vertical-align: middle;
}
.add-widget-button-icon {
  pointer-events: none;
  $icon-size: 20px;
  width: $icon-size;
  height: $icon-size;
  @media (min-width: $min-width-tablet) {
    margin-right: 2px;
  }
}
.add-widget-button-label {
  display: none;
  @media (min-width: $min-width-tablet) {
    display: inline;
  }
}
