.add-widget-header {
  margin: 0 15px;
}

.add-widget-type-list,
.add-widget-type-list-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.add-widget-entry-header {
  display: flex;
  align-items: center;
}
.add-widget-entry-heading {
  flex-grow: 1;
}

.add-widget-entry .add-widget-button {
  background-color: $dark-50;
  &:hover:active {
    background-color: $dark-75;
  }
}
