.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 20px;
  &.theme-green {
    background-color: $green;
  }
  &.theme-teal {
    background-color: $teal;
  }
  &.theme-blue {
    background-color: $blue;
  }
}

a {
  color: inherit;
  text-decoration: underline;
}
