.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 20px;
  @each $theme-name, $theme-color in $theme-colors {
    &.theme-#{$theme-name} {
      background-color: $theme-color;
    }
  }
}

a {
  color: inherit;
  text-decoration: underline;
}
