.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  padding-top: 0;
  &.theme-green {
    background-color: #154;
  }
  &.theme-teal {
    background-color: #177;
  }
  &.theme-blue {
    background-color: #14a;
  }
}
