.app-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.app-header-title {
  flex-grow: 1;
  margin: 0;
  text-align: left;
  font-size: $font-size-xxs;
  color: $dark-50;
  @media (min-width: $min-width-tablet) {
    font-size: $font-size-m;
  }
}
