@use 'sass:math';

// Themes
$green: #174;
$teal: #177;
$blue: #36c;

// Dark
$dark-100: #000;
$dark-75: rgba(#000, 0.75);
$dark-50: rgba(#000, 0.50);
$dark-30: rgba(#000, 0.30);
$dark-25: rgba(#000, 0.25);
$dark-20: rgba(#000, 0.20);
$dark-10: rgba(#000, 0.10);

// Light
$light-10: rgba(#fff, 0.10);
$light-25: rgba(#fff, 0.25);
$light-50: rgba(#fff, 0.50);
$light-75: rgba(#fff, 0.75);
$light-100: #fff;
