html,
body {
  min-height: 100%;
  height: 100%;
}

body,
main,
.app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #222;
  font-family: $font-family-serif;
  color: #fff;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 400;
}
