html,
body,
main,
.app {
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #143;
  font-family: 'Merriweather', 'Georgia', serif;
  color: #fff;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 400;
}
