.theme-switcher {
  display: flex;
  align-items: center;
}
.theme-switcher-label {
  display: none;
  font-size: $font-size-xxs;
  vertical-align: middle;
  @include layout(tablet) {
    display: inline;
  }
}
.theme-switcher-dropdown {
  vertical-align: middle;
}
