.widget {
  display: inline-block;
  min-width: 100px;
  min-height: 100px;
  border-radius: 10px;
  background-color: rgba(#000, 0.5);
  box-shadow: 0 3px 5px rgba(#000, 0.5);
  overflow: hidden;
  resize: both;
}
