.widget-type-Note .widget-contents {
  resize: vertical;
}

.note {
  border-radius: inherit;
}

.note-text-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  border-radius: inherit;
  background: none;
  padding: 20px 30px;
  font-family: inherit;
  color: var(--color-white-100);
  // Disable resize on the textarea since it should automatically fit to the
  // widget container, which is itself resizable
  resize: none;
  &:focus {
    outline-width: 0;
    box-shadow: inset 0 0 0 1px var(--color-white-100);
  }
  @include placeholder {
    color: var(--color-white-50);
  }
}

input[type=range].note-formatting-font-size {
  width: 50%;
}

.note-formatting-preview {
  margin-top: 10px;
  padding: 0 10px;
  text-align: left;
  color: var(--color-white-50);
}
