.app {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.app-notification-message {
  font-weight: var(--font-weight-bold);
}

a {
  font-weight: var(--font-weight-bold);
  color: var(--current-theme-color);
  text-decoration: underline;
}
