.app-footer {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: var(--font-size-xs);
  color: var(--color-white-50);
  a {
    color: inherit;
  }
}
.app-footer-dedication {
  font-size: inherit;
  @include layout(desktop) {
    &:after {
      content: '|';
      margin-left: 10px;
    }
  }
}
.app-footer-links {
  display: block;
  margin: 10px 0;
  padding: 0;
  @include layout(desktop) {
    display: inline-block;
    margin: 0;
    margin-left: 10px;
  }
}
.app-footer-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
  &:not(:last-child) {
    &:after {
      content: '|';
      margin: 0 10px;
    }
  }
}
.app-footer-link-help {
  position: relative;
  a {
    color: var(--color-white-100);
  }
}
