.app-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
  @include layout(desktop) {
    padding: 10px 20px;
  }
}

.app-header-title {
  flex-grow: 1;
  margin: 0;
  text-align: left;
  font-size: 0;
}
.app-header-title-link {
  color: var(--color-white-100);
  mix-blend-mode: soft-light;
  text-decoration: none;
  white-space: nowrap;
  .theme-forest & {
    mix-blend-mode: normal;
    color: var(--color-black-50);
  }
  &:before {
    content: 'FD';
    font-size: var(--font-size-m);
  }
  @include layout(tablet) {
    font-size: var(--font-size-m);
    &:before {
      content: '';
    }
  }
}

.app-header-controls {
  display: flex;
  align-items: stretch;
}
.app-header-add-widget-wrapper {
  display: flex;
  align-items: stretch;
  position: relative;
}
.app-header-control-button {
  // Make all header buttons the same height on all pages, even if the Add
  // Widget button (which is slightly taller than the natural height of the
  // other buttons) isn't present
  min-height: 28px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xxs);
  line-height: var(--line-height-tight);
}

.app-header-control-button,
.app-header-menu-button {
  margin-left: 15px;
  font-family: var(--font-family-sans-serif);
}

.app-header-account {
  display: flex;
  align-items: center;
}
.app-header-account-section {
  position: relative;
}
