.app-header {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  @include layout(desktop) {
    padding: 10px 20px;
  }
}

.app-header-title {
  flex-grow: 1;
  margin: 0;
  text-align: left;
  font-size: 0;
  color: $light-100;
  mix-blend-mode: soft-light;
  &:before {
    content: 'FD';
    font-size: $font-size-m;
  }
  @include layout(tablet) {
    font-size: $font-size-m;
    &:before {
      content: '';
    }
  }
}

.app-header-controls {
  display: flex;
  align-items: stretch;
}
.app-header-add-widget-wrapper {
  display: flex;
  align-items: stretch;
  position: relative;
  margin: 0 15px;
}

.app-header button,
.app-header a.button {
  font-family: $font-family-sans-serif;
  font-size: $font-size-xxxs;
}
