@keyframes menu-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.app-header-menu-container {
  display: flex;
  align-items: stretch;
  position: relative;
}
.app-header-menu-button {
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}
.app-header-menu-button-icon {
  --icon-size: 16px;
  width: var(--icon-size);
  height: var(--icon-size);
}

.app-header-menu {
  position: relative;
  z-index: 1;
  animation: menu-fade-in 100ms ease-in-out both;
}

.app-header-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
  height: 100%;
}

.app-header-menu-list,
.app-header-menu-list-item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.app-header-menu-list {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 50;
  width: auto;
  transform: translateY(10px);
  border-radius: 5px;
  padding: 5px 5px;
  background-color: var(--color-white-100);
  text-align: left;
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-xxs);
  color: var(--color-black-100);
  box-shadow: 0 1px 5px var(--color-black-25);
  // Dropdown arrow attached to top of
  &:before {
    content: '';
    position: absolute;
    bottom: 100%;
    right: 16px;
    border: solid 6px transparent;
    border-bottom-color: var(--color-white-100);
  }
}
.app-header-menu-list-item a {
  display: block;
  position: relative;
  border-radius: 5px;
  padding: 5px 10px;
  white-space: nowrap;
  color: inherit;
  text-decoration: none;
  &:not([data-disabled]):hover {
    background-color: var(--color-blue);
    color: var(--color-white-100);
    cursor: pointer;
  }
}
li [data-key='user-info'] {
  padding-bottom: 5px;
  border-radius: 0;
  border-bottom: solid 1px var(--color-black-25);
  margin-bottom: 5px;
}
[data-field='user-email'] {
  font-weight: 300;
}
