.app-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.app-header-title {
  flex-grow: 1;
  margin: 0;
  text-align: left;
  font-size: $font-size-xxs;
  color: $light-100;
  mix-blend-mode: soft-light;
  @include layout(tablet) {
    font-size: $font-size-m;
  }
}

.app-header-controls {
  display: flex;
  align-items: stretch;
}
.app-header-add-widget-wrapper {
  position: relative;
  margin: 0 15px;
}

.app-header-theme-switcher {
  display: flex;
  align-items: stretch;
  position: relative;
}
.app-header-theme-switcher-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 0;
  border-radius: 20px;
  padding: 3px 12px;
  background-color: $dark-30;
  line-height: 1;
  font-family: $font-family-sans-serif;
  font-size: $font-size-xxxs;
  color: $light-100;
  vertical-align: middle;
}
.app-header-theme-switcher-button-icon {
  $icon-size: 18px;
  width: $icon-size;
  height: $icon-size;
  @include layout(tablet) {
    margin-right: 4px;
  }
}
.app-header-theme-switcher-button-icon,
.app-header-theme-switcher-button-label {
  vertical-align: middle;
}
.app-header-theme-switcher-button-label {
  display: none;
  @include layout(tablet) {
    display: inline;
  }
}
