.dashboards-manager > .loading-indicator .loading-indicator-icon {
  stroke: var(--color-black-20);
}
.add-dashboard {
  margin-bottom: 20px;
}
.dashboards-manager-dashboard-mask {
  position: relative;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-black-25);
}
