.dashboard-manager {
  text-align: center;
}
.dashboard-manager-loading-indicator .loading-indicator-icon {
  stroke: var(--color-black-20);
}
.add-dashboard {
  margin-bottom: 20px;
}
.dashboard-manager .item-collection-item {
  flex-shrink: 0;
  width: 250px;
  min-height: 150px;
}
.dashboard-manager .item-collection-item-choose-button {
  flex-shrink: 0;
  --item-width: 250px;
  --item-height: 155px;
  width: var(--item-width);
  min-height: var(--item-height);
}
.dashboard-preview {
  position: relative;
  width: 100%;
  height: var(--item-height);
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-black-25);
}
.dashboard-preview-columns {
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
  z-index: 5;
  width: 100%;
  min-height: 100%;
  padding: 10px 10px;
  gap: 0 10px;
}
.dashboard-preview-column {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--color-black-10);
}
.dashboard-preview-widget {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  --widget-height: 40px;
  height: var(--widget-height);
  border-radius: 5px;
  background-color: var(--color-black-25);
  backdrop-filter: blur(10px);
  &[data-type='BibleVerse'] {
    --widget-height: 40px;
  }
  &[data-type='Note'] {
    --widget-height: 30px;
  }
  &[data-type='Podcast'] {
    --widget-height: 70px;
  }
}
.dashboard-preview-widget .icon {
  opacity: 0.5;
  filter: invert(100%);
  --icon-size: 16px;
  width: var(--icon-size);
  height: var(--icon-size);
}
