.dashboards-manager .loading-indicator-icon {
  stroke: var(--color-black-20);
}
.add-dashboard {
  margin-bottom: 20px;
}
.dashboards-manager-dashboards {
  margin: 0;
  padding: 0;
}
.dashboards-manager-dashboard {
  list-style-type: none;
}
