.item-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.item-collection-item {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  margin-bottom: 10px;
  padding: 0 15px;
  list-style-type: none;
}
.item-collection-item-preview {
  display: flex;
  width: inherit;
  position: relative;
  margin-bottom: 3px;
  &:hover:active {
    filter: brightness(60%);
    color: var(--color-black-100);
  }
}
.item-collection-item-chosen-indicator {
  pointer-events: none;
  --icon-size: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  --icon-size: 50%;
  width: var(--icon-size);
  height: var(--icon-size);
  filter: drop-shadow(0 1px 3px var(--color-black-50));
  .icon {
    width: 100%;
    height: 100%;
  }
}
.item-collection-item-loading-indicator {
  --icon-size: 100px;
  width: var(--icon-size);
  height: var(--icon-size);
}
button.item-collection-item-delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 100;
  --button-size: 24px;
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  --button-background-color: var(--color-grey);
  box-shadow: 0 1px 3px var(--color-black-25);
  .icon {
    --icon-size: 20px;
    width: var(--icon-size);
    height: var(--icon-size);
  }
  .loading-indicator-icon {
    --icon-size: 12px;
  }
}
.item-collection-item-name-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-collection-item-label {
  font-size: var(--font-size-xs);
  font-family: var(--font-family-sans-serif);
  color: var(--color-black-75);
  cursor: default;
  user-select: none;
}
button.edit-item-name-button {
  border-radius: 3px;
  padding: 3px;
  box-sizing: content-box;
  --icon-size: 16px;
  width: var(--icon-size);
  height: var(--icon-size);
  vertical-align: middle;
  .icon {
    width: inherit;
    height: inherit;
  }
  --button-background-color-hover: var(--color-black-25);
  --button-background-color-active: var(--color-black-30);
}
.item-collection-item-name {
  display: inline;
  margin: 0 5px;
  font-weight: var(--font-weight-bold);
  vertical-align: middle;
}
