@use 'sass:math';

$color-theme-column-count: 5;

// Theme switcher view itself

.theme-switcher {
  text-align: center;
  h2 {
    margin-top: 20px;
  }
}

// Styles for all theme types

.theme-switcher-themes {
  margin: 0;
  padding: 0;
}
.theme-switcher-theme {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 15px;
  padding-bottom: 0;
  list-style-type: none;
}
.theme-switcher-theme-button {
  position: relative;
  margin: 0;
  padding: 5px;
  border-width: 0 !important;
  border-radius: 0;
  background: none !important;
}
.theme-switcher-theme-selected .theme-switcher-theme-selected-icon {
  pointer-events: none;
  $icon-size: 75%;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  width: $icon-size;
  height: $icon-size;
  background-image: url('../../public/icons/check-light.svg');
  background-repeat: no-repeat;
  background-size: $icon-size;
  background-position: center center;
  filter: drop-shadow(0 1px 3px $dark-50);
}
.theme-switcher-label {
  font-size: $font-size-xs;
  font-family: $font-family-sans-serif;
  color: $dark-75;
  cursor: default;
  user-select: none;
}
// Indicate which theme the user is switching to
.theme-switcher-theme-visual {
  &:hover:active {
    filter: brightness(60%);
    color: $dark-100;
  }
}

// Photo themes

.theme-switcher-photo-theme-photo-container {
  display: flex;
}
.theme-switcher-photo-theme-photo {
  border-radius: 10px;
}
.theme-switcher-photo-theme .theme-switcher-theme-selected-icon {
  $icon-size: 70px;
  width: $icon-size;
  height: $icon-size;
  background-size: $icon-size;
}

// Color themes

.theme-switcher-color-themes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.theme-switcher-color-theme-swatch {
  $swatch-size: 40px;
  width: $swatch-size;
  height: $swatch-size;
  border-radius: 50%;
  background-color: var(--current-theme-color);
}
.theme-switcher-color-theme .theme-switcher-theme-selected-icon {
  $icon-size: 28px;
  width: $icon-size;
  height: $icon-size;
  background-size: $icon-size;
}
