@use 'sass:math';

// Theme switcher view itself

.theme-switcher {
  text-align: center;
  h2 {
    margin-top: 20px;
  }
}

.photo-theme-preview {
  border-radius: 10px;
  background-color: rgba(#000, 0.25);
}

.color-theme-preview {
  --swatch-size: 40px;
  width: var(--swatch-size);
  height: var(--swatch-size);
  border-radius: 50%;
  background-color: var(--current-theme-color);
}
