@use 'sass:math';

$color-theme-column-count: 5;

// Theme switcher view itself

.theme-switcher {
  text-align: center;
  h2 {
    margin-top: 20px;
  }
}

// Styles for all theme types

.theme-switcher-themes {
  margin: 0;
  padding: 0;
}
.theme-switcher-theme {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  padding-bottom: 0;
  list-style-type: none;
}
.theme-switcher-label {
  padding-top: 3px;
  font-size: $font-size-xs;
  font-family: $font-family-sans-serif;
  cursor: default;
  user-select: none;
}
// Indicate which theme the user is switching to
.theme-switcher-theme-target {
  &:hover:active {
    filter: brightness(60%);
  }
}

// Photo themes

.theme-switcher-photo-theme-photo {
  border-radius: 10px;
}

// Color themes

.theme-switcher-color-themes {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 80px);
}
.theme-switcher-color-theme-swatch {
  $swatch-size: 40px;
  width: $swatch-size;
  height: $swatch-size;
  border-radius: 50%;
}
