$update-animation-duration: 200ms;
$update-animation-timing-function: ease-in-out;

@keyframes update-slide-out {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes update-element-show {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes update-element-hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.update-notification {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 15px 15px;
  background-color: var(--color-black-75);
  text-align: center;
  font-family: var(--font-family-sans-serif);
  color: var(--color-white-100);
  cursor: pointer;
  backdrop-filter: blur(10px);
  animation: update-slide-out 400ms $update-animation-timing-function both;
  &.is-updating {
    cursor: default;
  }
}

.update-notification-message {
  // Inline elements cannot be transformed
  display: block;
  font-size: var(--font-size-m);
  font-weight: 400;
  .is-updating & {
    animation: update-element-hide 400ms $update-animation-timing-function both;
  }
}

.update-loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.update-notification .loading-indicator {
  animation: update-element-show $update-animation-duration $update-animation-timing-function both;
  animation-delay: $update-animation-duration;
}

.update-notification .loading-indicator-icon {
  $icon-max-size: 42px;
  max-width: $icon-max-size;
  max-height: $icon-max-size;
  stroke: var(--color-white-100);
}
