.widget-board {
  --widget-min-width: 240px;
  --widget-min-height: 100px;
  --widget-margin-x: 0;
  --widget-margin-y: 10px;

  --widget-board-column-padding-x: 20px;
  --widget-board-column-padding-y: 10px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  border-radius: 10px;
}
.widget-board-column {
  flex-grow: 1;
  flex-basis: 0;
  min-width: calc(
    var(--widget-min-width) + (var(--widget-board-column-padding-x) * 2)
  );
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: var(--widget-board-column-padding-y)
    var(--widget-board-column-padding-x);
  background-color: var(--color-black-10);
}
