.widget-picker-entry-header {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
.widget-picker-entry-heading {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0;
}
.widget-picker-entry-icon {
  margin: 0 10px;
}

@each $theme-name, $theme-color in $theme-colors {
  .theme-#{$theme-name} .widget-picker-entry .add-widget-button {
    background-color: $theme-color;
    &:hover:active {
      background-color: darken($theme-color, 10%);
    }
  }
}
