@use 'sass:math';

// Base color palette
$color-grey: #222;
$color-brown: #875;
$color-green: #474;
$color-forest: #365;
$color-teal: #177;
$color-blue: #36a;
$color-purple: #636;
$color-royal: #336;
$color-rose: #957;
$color-red: #a33;
$color-orange: #a36036;
$color-yellow: #a83;
$color-violet: #838;
$color-slate: #467;

// Themes
$theme-colors: (
  'brown': $color-brown,
  'green': $color-green,
  'teal': $color-teal,
  'blue': $color-blue,
  'purple': $color-purple,
  'royal': $color-royal,
  'rose': $color-rose,
  'red': $color-red,
  'orange': $color-orange,
  'yellow': $color-yellow,
  'violet': $color-violet
);

// Dark
$dark-100: #000;
$dark-75: rgba(#000, 0.75);
$dark-50: rgba(#000, 0.50);
$dark-40: rgba(#000, 0.40);
$dark-30: rgba(#000, 0.30);
$dark-25: rgba(#000, 0.25);
$dark-20: rgba(#000, 0.20);
$dark-15: rgba(#000, 0.15);
$dark-10: rgba(#000, 0.10);

// Light
$light-10: rgba(#fff, 0.10);
$light-25: rgba(#fff, 0.25);
$light-30: rgba(#fff, 0.30);
$light-40: rgba(#fff, 0.40);
$light-50: rgba(#fff, 0.50);
$light-75: rgba(#fff, 0.75);
$light-100: #fff;
