@use 'sass:math';

// Base color palette
$grey: #222;
$brown: #875;
$green: #474;
$forest: #365;
$teal: #177;
$blue: #36a;
$purple: #636;
$royal: #336;
$rose: #957;
$red: #a44;
$orange: #a36036;
$yellow: #a83;
$violet: #838;
$slate: #467;

$error: #c44;

// Themes
$theme-colors: (
  'brown': $brown,
  'green': $green,
  'teal': $teal,
  'blue': $blue,
  'purple': $purple,
  'royal': $royal,
  'rose': $rose,
  'red': $red,
  'orange': $orange,
  'yellow': $yellow,
  'violet': $violet
);

// Dark
$dark-100: #000;
$dark-75: rgba(#000, 0.75);
$dark-50: rgba(#000, 0.50);
$dark-40: rgba(#000, 0.40);
$dark-30: rgba(#000, 0.30);
$dark-25: rgba(#000, 0.25);
$dark-20: rgba(#000, 0.20);
$dark-15: rgba(#000, 0.15);
$dark-10: rgba(#000, 0.10);

// Light
$light-10: rgba(#fff, 0.10);
$light-25: rgba(#fff, 0.25);
$light-30: rgba(#fff, 0.30);
$light-40: rgba(#fff, 0.40);
$light-50: rgba(#fff, 0.50);
$light-75: rgba(#fff, 0.75);
$light-100: #fff;
