html,
body {
  min-height: 100%;
}
html {
  height: 100%;
}

body,
main,
#__next,
.app,
.tutorial-flow-wrapper,
.app-contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 10px;
  background-color: var(--color-grey);
  font-family: var(--font-family-serif);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  color: var(--color-white-100);
  text-align: center;
  @include layout(desktop) {
    padding: 0 20px;
  }
}

button[data-type='overlay'] {
  border-width: 0 !important;
  background: none !important;
}
