html,
body {
  min-height: 100%;
}
html {
  height: 100%;
}

body,
main,
#__next,
.app,
.tutorial-wrapper,
.app-contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 10px;
  background-color: $grey;
  font-family: $font-family-serif;
  color: $light-100;
  text-align: center;
  @include layout(desktop) {
    padding: 0 20px;
  }
}
