@use 'sass:math';

// Font families
$font-family-serif: 'Merriweather', 'Georgia', serif;
$font-family-sans-serif: 'Merriweather Sans', 'Open Sans', sans-serif;

// Font sizes
$font-size-base: 15px;
$font-size-xxxs: #{math.div($font-size-base - 4, $font-size-base)}rem;
$font-size-xxs: #{math.div($font-size-base - 3, $font-size-base)}rem;
$font-size-xs: #{math.div($font-size-base - 2, $font-size-base)}rem;
$font-size-s: #{math.div($font-size-base - 1, $font-size-base)}rem;
$font-size-m: 1rem;
$font-size-l: #{math.div($font-size-base + 1, $font-size-base)}rem;
$font-size-xl: #{math.div($font-size-base + 2, $font-size-base)}rem;
$font-size-xxl: #{math.div($font-size-base + 3, $font-size-base)}rem;
$font-size-xxxl: #{math.div($font-size-base + 7, $font-size-base)}rem;
