@use 'sass:math';

:root {
  // Font families
  --font-family-serif: 'Merriweather', 'Georgia', serif;
  --font-family-sans-serif: 'Lato', sans-serif;

  // Font weights
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  // Line heights
  --line-height-tight: 1;
  --line-height-normal: normal;
  --line-height-comfortable: 1.3;
  --line-height-roomy: 1.5;
  --line-height-gratuitous: 1.7;

  // Font sizes

  font-size: 16px;
  --font-size-xxxxs: calc(1rem * 10 / 15);
  --font-size-xxxs: calc(1rem * 11 / 15);
  --font-size-xxs: calc(1rem * 12 / 15);
  --font-size-xs: calc(1rem * 13 / 15);
  --font-size-s: calc(1rem * 14 / 15);
  --font-size-m: 1rem;
  --font-size-l: calc(1rem * 16 / 15);
  --font-size-xl: calc(1rem * 17 / 15);
  --font-size-xxl: calc(1rem * 18 / 15);
  --font-size-xxxl: calc(1rem * 22 / 15);
}
