@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

label {
  display: block;
  font-family: var(--font-family-sans-serif);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-s);
  text-align: left;
}

// Hide some labels from the UI but still be readable by screen readers
.accessibility-only {
  position: absolute;
  top: -1000px;
  left: -10000px;
}

input[type='text'],
input[type='search'],
input[type='number'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type='url'],
button,
.button {
  -webkit-appearance: none;
  appearance: none;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: var(--font-family-sans-serif);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-comfortable);
}

input[type='text'],
input[type='search'],
input[type='number'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type='url'],
textarea {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 1px var(--color-black-25);
  // Some browsers will set a default border-radius on inputs; override this
  border-radius: 0;
  background-color: var(--color-white-100);
  background-clip: padding-box;
  @include placeholder {
    color: var(--color-black-50);
  }
}
// Hide Cancel (X) button on search fields
input[type='search']::-webkit-search-cancel-button {
  display: none;
}
button,
.button {
  --button-background-color: var(--color-black-30);
  --button-background-color-hover: var(--button-background-color);
  --button-background-color-active: var(--color-black-50);
  display: inline-block;
  user-select: none;
  border: solid 1px transparent;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 13px;
  background-color: var(--button-background-color);
  color: var(--color-white-100);
  font-size: var(--font-size-xs);
  text-decoration: none;
  &[disabled] {
    opacity: 0.5;
  }
  &:not([disabled]):hover {
    background-color: var(--button-background-color-hover);
  }
  &:not([disabled]):hover:active {
    background-color: var(--button-background-color-active);
  }
}
button[data-unstyled],
.button[data-unstyled] {
  margin: 0;
  border-width: 0;
  padding: 0;
  border-radius: 0;
  --button-background-color: transparent;
  --button-background-color-hover: var(--button-background-color);
  --button-background-color-active: var(--button-background-color);
}

button,
a {
  &:focus-visible {
    outline-width: 0;
    box-shadow:
      0 0 0 2px var(--color-white-100),
      0 0 0 4px var(--color-blue);
  }
}

input:focus-visible {
  outline-width: 0;
  box-shadow:
    0 0 0 1px var(--color-blue),
    0 0 0 2px var(--color-white-100);
}

.form-error-message {
  font-size: var(--font-size-m);
}
