h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
h1 {
  font-size: var(--font-size-xxxl);
  font-weight: 400;
}
h2 {
  font-size: var(--font-size-xxl);
  font-weight: 400;
}
h3 {
  font-size: var(--font-size-l);
  font-weight: 400;
}
h4 {
  font-size: var(--font-size-m);
  font-weight: 400;
}
