@use 'sass:math';

// Slider reset styles from
// <https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/>

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

@mixin webkit-slider-thumb {
  &::-webkit-slider-thumb {
    @content;
  }
}
@mixin moz-slider-thumb {
  &::-moz-range-thumb {
    @content;
  }
}
@mixin ms-slider-thumb {
  &::-ms-thumb {
    @content;
  }
}

@mixin slider-thumb() {
  @include webkit-slider-thumb() {
    @content;
  }
  @include moz-slider-thumb() {
    @content;
  }
  @include ms-slider-thumb() {
    @content;
  }
}

@mixin webkit-slider-track {
  &::-webkit-slider-runnable-track {
    @content;
  }
}
@mixin moz-slider-track {
  &::-moz-range-track {
    @content;
  }
}
@mixin ms-slider-track {
  &::-ms-track {
    @content;
  }
}

@mixin slider-track() {
  @include webkit-slider-track() {
    @content;
  }
  @include moz-slider-track() {
    @content;
  }
  @include ms-slider-track() {
    @content;
  }
}

@mixin slider-fill() {
  background-color: transparent;
  background-image: linear-gradient(
    to right,
    var(--slider-fill-color) 0%,
    var(--slider-fill-color)
    var(--slider-fill-percentage, 0),
    var(--slider-track-color)
    var(--slider-fill-percentage, 0),
    var(--slider-track-color) 100%);
  background-clip: content-box;
}

input[type=range] {
  --slider-track-height: 4px;
  --slider-thumb-size: 14px;
  --slider-track-color: var(--color-black-25);
  --slider-fill-color: var(--color-white-100);
  width: 100%;
  margin: 0;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-appearance: none;
  position: relative;
  width: 100%;
  height: var(--slider-track-height);
  @include slider-fill();
  box-sizing: content-box;
  @include slider-track() {
    height: var(--slider-track-height);
  }
  @include slider-thumb() {
    width: var(--slider-thumb-size);
    height: var(--slider-thumb-size);
    margin: 0;
    background-color: var(--color-white-100);
    border-width: 0;
    border-radius: 50%;
  }
    // On WebKit, the slider thumb is not vertically centered by default, but on
  // Firefox, it is, so we need to target WebKit specifically to accommodate
  // this
  @include webkit-slider-thumb() {
    transform:
      translateY(-50%)
      translateY(calc(var(--slider-track-height) / 2));
  }
}
