.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 10px;
  @include layout(desktop) {
    padding: 0 20px;
  }
}

a {
  color: inherit;
  text-decoration: underline;
}
