@import 'base/colors';
@import 'base/fonts';
@import 'base/responsive';
@import 'base/theme';
@import 'reusable/sheet';
@import 'app/app-header';

.landing-page {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.landing-page-section {
  position: relative;
  max-width: 800px;
  margin-top: 0;
  border-radius: 20px;
  padding: 10px 30px 30px;
  font-weight: 300;
  text-align: left;
  line-height: 1.7;
  color: var(--color-black-100);
  box-shadow: 0 2px 5px var(--color-black-50);
  h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 400;
  }
  h1, h2, h3 {
    border-bottom: solid 1px rgba(#fff, 0.25);
  }
  h1 {
    border-bottom-width: 6px;
  }
  h2 {
    margin-top: 20px;
    border-bottom-width: 4px;
  }
  h3 {
    font-style: italic;
    border-bottom-width: 2px;
  }

  img {
    vertical-align: middle;
    &.block-image {
      display: block;
      max-width: 50%;
      margin: 20px auto;
      border: solid 1px rgba(#fff, 0.25);
      border-radius: 5px;
    }
  }
  // Make instructional button on Help page fully opaque to be more readable
  p > button {
    opacity: 1;
  }
  // If image is used directly within a paragraph, it's probably one of the
  // light (white) icons, and therefore needs to have a background added for
  // contrast
  p > img {
    background-color: var(--current-theme-color);
  }
  button[type] {
    margin: 0;
  }
  .button {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
.sheet-control.landing-page-home-control {
  padding: 10px;
}
.sheet-control.landing-page-alt-control {
  padding: 15px 15px;
  text-decoration: none;
  font-size: $font-size-xs;
  font-weight: 400;
}
.sheet-control-icon.landing-page-control-icon {
  $control-size: 20px;
  width: $control-size;
  height: $control-size;
}
.landing-page-em {
  font-weight: 400;
}
